@resources = {
	<link href="@routes.Assets.at("stylesheets/join.css")" media="screen" rel="stylesheet" type="text/css" />
}

@layout("home") {

	<div class="header">
		<button class="btn btn-primary btn-1">Create a new Fourcrawl</button>
	</div>
	<h2 class="dom-heading">Step up and join a Fourcrawl!</h2>
	<div class="dom-body-text">
		<p>Select a fourcrawl below:</p>
	</div>
	<button class="btn btn-large btn-2">
		<b>Delancey fourcrawl<br></b>1/8/13 &nbsp;11am-6pm <br>8
		stops <br>
	</button>
	<button class="btn btn-large btn-3">
		<b>Foursquare fourcrawl<br></b>1/7/13 &nbsp;10am-6pm <br>5
		stops <br>
	</button>
	<img class="sf" src="@routes.Assets.at("images/sf.png")" />
	<img class="ny" src="@routes.Assets.at("images/ny.png")" />
	<button class="btn btn-large btn-4">
		<b>Polk St fourcrawl</b> 1/10/13 10am-4pm <br>5 stops <br>
	</button>
	<button class="btn btn-large btn-5">
		<b>Winter fourcrawl<br></b>1/23/13 &nbsp;9am-5pm <br>4 stops
		<br>
	</button>
	<img class="sf" src="@routes.Assets.at("images/sf.png")" />
	<img class="ny" src="@routes.Assets.at("images/ny.png")" />
	<img class="footer" src="@routes.Assets.at("images/footer.png")" />
	
}
